<div class="card" style="width: 18rem;">
  {{'product-1' | placeholder_svg_tag }}
  <div class="card-body">
  <span class="card-text">vendor</span>
           <span class="card-text">Placeholder Title</span><br>
            <span class="card-text">{{'9999' | money}}</span>
  </div>
</div>