<div class="homepage">
  <img src="https://weeklyhow.com/wp-content/uploads/2020/11/WeeklyHow-Logo-With-Text-Bottom.png" class="logo">
  <h1>What is the PRoblem</h1>
  <p>{% render 'homepage-text' %}</p>


</div>