<div class="container-fluid">
	{% paginate search.results by 10 %}
	  {% if search.performed %}
	  	{% if search.results.size > 0 %}
	  	<p class="text-center my-2">{{ search.results.size }} result for the search term {{ search.terms | escape }}</p>
	  	    <div class="row my-2">
	  	    	{% for item in search.results %}
				   	{% case item.object_type %}
				   		{% when 'product' %}
				   		<div class="col-md-3">
				   			{% render 'product-card',product:item %}
				   		</div>
				   	{% endcase %}
			   {% endfor %}
	  	    </div>
	     {% else %}
	     <div class="text-center my-3">
	       <p style="font-weight:10px;"> No results found for the search term {{ search.terms | escape }}. try to use another keyword</p> 
	    </div>
	  	{% endif %}
	  {% endif %}
	   	{% render 'pagination',pagination:paginate %}
	{% endpaginate %}
</div>