<div class="container my-2">
	<div class="row justify-content-md-center">
		<!-- <div class="col-md-4"></div> -->
		<div class="col-md-8">
			<h3 class="text-center">Register Form</h3>
			  {% form 'create_customer' %}
			   	{% if  form.errors %}
	           	 	{% for error in form.errors %}
	           	 	    <div class="alert alert-danger" role="alert">
						    {{form.errors.messages[error]}}
						</div>
	           	 	{% endfor %}
	            {% endif %}
				<div class="form-floating mb-3">
				  <input type="text" class="form-control" name="customer[first_name]" id="first_name" required placeholder="Jon">
				  <label for="first_name">First name</label>
				</div>
				<div class="form-floating mb-3">
				  <input type="text" required class="form-control" name="customer[last_name]" id="last_name" placeholder="Don">
				  <label for="last_name">Last name</label>
				</div>
				<div class="form-floating mb-3">
				  <input type="date" required class="form-control" name="customer[note][birthday]" id="birthday">
				  <label for="birthday"> Birthday </label>
				</div>
				<div class="form-floating mb-3">
				  <input type="email" required class="form-control" name="customer[email]" id="customer_email" placeholder="name@example.com">
				  <label for="customer_email"> Email </label>
				</div>
				<div class="form-floating mb-3">
				  <input type="password" required class="form-control" name="customer[password]" id="customer_password">
				  <label for="customer_password"> Password </label>
				</div>
				<div class="d-grid gap-2 col-6 mx-auto my-2">
					<button class="btn btn-dark" type="submit">Create account</button>
				</div>
			{% endform %}
		</div>
	</div>
</div>